<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="club.ccit.basic.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.Labs"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!--        设置运行是DEBUG或者RELEASE-->
        <meta-data
            android:name="MODEL"
            android:value="${MODEL}" />

        <activity
            android:name="club.ccit.labs.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>